#  Local .terraform directories
**/.terraform/*
**/.terraform
./*.tfstate
*tfplan
tfplan*

# .tfstate files
*.tfstate
*.tfstate.*
**/terraform.tfstate
**/plugins

# .tfvars files
*.tfvars

# Log Files
*.log

# Win and Linux programs and applications
*.exe
*.msi
*.zip
*.SHA512
*rpm
*.gz
*.bz2
*.pub
*.xml
*-CentOS-7 
